:root {
  --bg-color: #F4F7FE;       
  --sidebar-bg: #FFFFFF;     
  --card-bg: #FFFFFF;
  
  --text-primary: #2B3674;   
  --text-secondary: #A3AED0; 
  
  --primary-color: #05CD99;  
  --primary-hover: #04b386;

  
  --shadow-sm: 0px 2px 5px rgba(112, 144, 176, 0.08);
  --shadow-md: 0px 4px 12px rgba(112, 144, 176, 0.15);
  
 
  --radius: 20px;            
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', 'Segoe UI', Roboto, Helvetica, sans-serif; /* Fonte moderna */
  background-color: var(--bg-color);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
}

.flex { display: flex; }
.col { flex-direction: column; }
.center { align-items: center; justify-content: center; }